# Visual Studio User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Visual Studio cache/options directory
**/.vs/

# TouchGFX build directories
**/TouchGFX/build/

# Generated build files
*.d
*.o
*.su
*.elf
*.ods#
*.cache
*.hex
*.list
*.map
**/STM32CubeIDE/CM7/.settings/language.settings.xml

# Ki-Cad

**/*.bak
Hardware/SWD_Drivers-backups/
**/_autosave*
*auto*save*
